# Ignore everything by default
*

# Allow these specific files and folders
!.gitignore
!README.md
!code_files/
!1_isaac_world_prim_code.py
!2_list_jointlike_prims.py
!3_Articulation_root_check.py
!first_ros_run_jetbot.usd

# Inside code_files, ignore virtual envs and temp files
code_files/python_env/
code_files/__pycache__/
code_files/.vscode/
code_files/*.pyc
code_files/*.log
code_files/*.tmp

